body{
    padding: 0;
    margin: 0;
}

.logo{
    width: 10%;
    min-height: 5px;
    content: "";
    position: relative;
    overflow: hidden;
    transform: translateX(-50%);
    left: -45%;
}
.itemlist{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    padding: 5px;
    margin: 10px auto;
    background-color: rgb(33, 65, 6);
}
.item-list{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
}
.item-list:hover{
    background-color: #46eb316e;
    border-radius: 5px;   
}
.landingpage{
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    display: block;
    box-shadow: black 0px 0px 20px 0px; 
}
h1{
    color: rgb(7, 7, 7);
    font-size: 55px;
    text-align: left;
    margin: 40px 0 0 20px;
    font-family: 'Courier New', Courier, monospace;
}
.text-welcome{
    color: rgb(7, 7, 7);
    font-size: 24px;
    text-align: left;
    margin-left:  30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    overflow: hidden;
}
.btn-shop{
    background-color: rgb(33, 65, 6);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 100px;
    height: 50px;
    width: 150px;
    float: left;
}
.btn-shop:hover{
    background-color: #051a026e;
    border-radius: 5px;
}
.dipslay-img{
    width: 35%;
    height: 100vh;
    position: absolute;
    top: -20%;
    left: 65%;
    filter: brightness(0.7);
    box-shadow: rgb(33, 211, 63) 0px 0px 20px 0px;
}
.product{
    width: 100%;
    height: 90vh;
    background-color: white;
    position: relative;
    overflow: hidden;

}
.product-item img{
    width: 60%;
    height: 40vh;
    padding: 5px;
    box-shadow: black 0px 0px 20px 0px;
    border-radius: 10px;
 

}
.product-list{
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin: 20px auto;
}
.product-list{
    width: 100%;
    border-radius: 10px;
}
h3{
    color: rgb(7, 7, 7);
    font-size: 24px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    overflow: hidden;
}
.text-price{
    color: rgb(7, 7, 7);
    font-size: 20px;
    justify-content: center;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    overflow: hidden;
    margin-top:  -15px;
    text-align: center;
}
.add-to-cart{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(33, 65, 6);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
.add-to-cart:hover{
    background-color: #0208016e;
    border-radius: 5px;
    color: rgb(3, 3, 3);
}
.aboutus{
    width: 100%;
    height: 90vh;
    background-color: white;
    position: relative;
    overflow: hidden;
}
h2{
    color: rgb(7, 7, 7);
    font-size: 55px;
    margin-left:  280px;
    font-family: 'Courier New', Courier, monospace;
}
.text-about{
    color: rgb(7, 7, 7);
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    overflow: hidden;
    width: 55%;
    height: 40%;
    margin-left: 20px;
}
.btn-learn-more{
    background-color: rgb(33, 65, 6);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 100px;
    height: 50px;
    width: 150px;
    float: left;
}
.btn-learn-more:hover{
    background-color: #051a026e;
    border-radius: 5px;
}
.aboutus-img{
    width: 63%;
    height: 80vh;
    top: -35%;
    position: absolute;
    left: 26%;
    position: relative;
    filter: brightness(0.9);
}
.assurance{
    width: 100%;
    height: 90vh;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.assurance-header{
    color: rgb(7, 7, 7);
    font-size: 50px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
.assurance-text-header{
    color: rgb(7, 7, 7);
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.assurance-items{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    border: black 1px solid;
    width: 20%;
    height: 50%;
    float: left;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: 20px;


}
.assurance-items p{
    color: rgb(7, 7, 7);
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    overflow: hidden;
    text-align: center;

}
#fas-assurance{
    color: rgb(33, 65, 6);
    font-size: 50px;
    margin-left: 2px;
    margin-top: 10px;
    text-align: center;
}
.Contact-us{
    width: 100%;
    height: 95vh;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.contact-header{
    color: rgb(7, 7, 7);
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
.text-contact{
    color: rgb(7, 7, 7);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    margin-left: 30px;
    position: relative;
}
.google-map{
    width: 40%;
    height: 65vh;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    border: black 1px solid;
    border-radius: 10px;
}
.contact-list{
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin: 5px 0 0 800px;
    top: -450px;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    
}
.fas {
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 2px;
}
.footer{
    height: 5vh;
    background-color: hwb(128 2% 81%);
    overflow: hidden;
    display: flex;
    color: white;
    font-size: 20px;
    gap: 45rem;
}
.footer-text{
    display: flex;
    font-size: 18px;
    margin-left: 40px;
    padding: 5px;
    top: -10px;
    position: relative;
    color: rgb(255, 255, 255);
}
.fab{
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: left;
    margin: 15px 0 0 40px;
    position: relative;
}
.concern{
    width: 100%;
    height: 90vh;
}
.concern-input{
    width: 50%;
    height: 50vh;
    background-color: white;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: black 0px 0px 20px 0px;
    border: black 1px solid;
    text-align: center;
    font-size: 20px;
    transform: translateX(20%);
}
.concern-btn{
    background-color: rgb(33, 65, 6);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    height: 50px;
    width: 15%;
    top: 250px;
    left: -5%;
    position: relative;
}
.concern-btn:hover{ 
    background-color: #051a026e;
    border-radius: 5px;
    color: rgb(3, 3, 3);
}