body{
    padding: 0;
    margin: 0;
    position: relative;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf3F6OFLIqI8B2OB1CgCvTlFMQOQ1V9GX5tg&s");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.login-form{
    width: 30%;
    height: 60h;
    border-radius: 10px;
    padding: 5px;
    margin: 100px auto;
    overflow: hidden;
    box-shadow: black 0 0 20px;
    background-image: linear-gradient(rgb(4, 66, 19),rgb(8, 102, 47),rgb(6, 68, 11));
    
}
h1{
    text-align: center;
    color: rgb(245, 244, 244);
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding: 2px;
    margin: 0;
    position: relative;

}
.email-text, .password-text{
    width: 10%;
    height: 100vh;
    padding: 10px;
    margin: 10px 0 10px 1px;
    position: relative;
    font-size: 18px;
    color: black;
}
.email-input, .password-input{
    width: 90%;
    padding: 2px;
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    margin: 0 0 20px 10px;
    border: blanchedalmond inset;
    border-radius: 10px;
    box-sizing: border-box;
}
.remember{
    text-align: left;
    font-size: 18px;
}
.remember-text{
    text-align: center;
    margin-right: 150px;

}
.forgot-link{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.forgot-link:hover{
    text-decoration: underline;
    color: rgb(2, 26, 2);
}
.signup-text{
   text-align: center;
   font-size: 15px;
   padding: 5px;
}
.signup-link{
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;

}
.signup-link:hover{
    text-decoration: underline;
    color: rgb(2, 26, 2);
}
.btn-container{
    justify-content: center;
    display: flex;
    position: relative;
    gap: 50px;
    align-items: center;
    padding: 10px;
}
.btn-login, .btn-cancel{
    width: 30%;
    height: 5vh;
    border-radius: 5px;
    background-color: rgb(6, 71, 6);
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    padding: 10px;
    cursor: pointer;

}
.btn-login:hover, .btn-cancel:hover{
    background-color: rgb(30, 228, 4);
    color: black;
    font-weight: 300;
    
}
.text{
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    color: black;
    font-weight: 700;
}
.terms-link, .privacy-link{
    text-decoration: underline;
    color: black;
}
.terms-link:hover, .privacy-link:hover{
    color: rgb(10, 119, 10);
}
